* {
  margin: 0px;
  font-family: "Poppins", sans-serif;
}
.content-wrapar {
  display: flex;
  flex-direction: column;
  padding: 80px 70px 100px 80px;
  font-size: 38px;
}
.aside-column {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
.aside-column > span {
  color: #085e57;
  font-size: 0.7em;
}
.aside-column > span > text {
  color: #000000;
  font-size: 0.67em;
}
.article-column {
  display: flex;
  flex-direction: column;
  row-gap: 55px;
}
.section2 {
  display: flex;
  flex-direction: row;
  column-gap: 100px;
  padding-bottom: 80px;
}
.article-column > p:first-of-type,
.section3 > span {
  color: #085e57;
  font-size: 1em;
  width: 81%;
}
.article-column > p:last-of-type {
  color: #000000;
  font-size: 0.5em;
  line-height: 40px;
  text-align: justify;
}
.section3 {
  display: flex;
  flex-direction: column;
  row-gap: 38px;
}
.section3 > p {
  color: #000000;
  font-size: 0.5em;
  line-height: 40px;
  text-align: justify;
}
.section4 {
  display: flex;
  flex-direction: column;
  padding: 0px 120px;
  font-size: 35px;
}
.section4 > span {
  font-size: 1em;
}
hr {
  width: 100%;
  margin-bottom: 50px;
  /* border: 0.5px solid #34376E; */
}
.section4-row {
  display: flex;
  flex-direction: row;
}
.article4-column {
  display: flex;
  flex-direction: column;
}
.article4-column > section > span:first-of-type {
  color: #1d968d;
  background-color: #1d968e13;
  padding: 11px 23px 11px 11px;
  border-radius: 8px;
  font-size: 0.3em;
  margin-right: 15px;
}
.article4-column > section > span:last-of-type {
  color: #8e8e8e;
  font-size: 0.3em;
}
.article4-column > span {
  color: #1d968d;
  font-size: 0.8em;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 35px;
  line-height: 40px;
}
.article4-column > p {
  font-size: 0.6em;
  padding-bottom: 54px;
}
@media only screen and (max-width: 1250px) {
  .section2 {
    flex-wrap: wrap;
    row-gap: 30px;
    justify-content: center;
  }
  .section4-row {
    flex-wrap: wrap;
  }
  figure {
    display: flex;
    width: 100%;
    justify-content: center;
  }
}
@media only screen and (max-width: 700px) {
  .article-column > p:first-of-type, .section3 > span {
    font-size: 0.5em;
}
.aside-column > span {
    font-size: 0.5em;
}
.article-column {
    row-gap: 35px;
}
.article-column > p:last-of-type {
    font-size: 0.4em;
}
  .content-wrapar {
    padding: 35px 40px;
  }
  .section4 {
    padding: 0px 50px;
  }
  .article4-column > span {
    font-size: 0.5em;
    padding-bottom: 25px;
  }
  .article4-column > p {
    font-size: 0.4em;
    padding-bottom: 34px;
  }
  img {
    width: 100%;
    min-width: 250px;
  }
}
